.button{
    height:80px;
    width:350px;
    background-color:#0079ff;
    position: absolute;
    top:730px;
    left:200px;
    border-radius:20px;
    display:flex;
    align-items: center;
    text-align: center;
}